{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Article name</th>
                <th>Date</th>
                <th>IP</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for unArticleStat in articleStat %}
            <tr>
                <td>{{  unArticleStat.user.firstname}}</td>
                <td>{{  unArticleStat.article.title}}</td>
                <td>{{  unArticleStat.date|date("m/d/Y")}}</td>
                <td>{{ unArticleStat.ip}}</td>
                <td>{{ unArticleStat.action}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
